<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Wait</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pictureTime/submitted.css') }}">
</head>
<body onload="redirectToPage()">
    <div class="container">
        <h1>File Uploaded</h1>
        <p>Please wait, you are being redirected...</p>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/redirect.js') }}"></script>
</body>
</html>
