<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Time Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pictureTime/upload.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Photo</h1>
        <!-- Form to upload from the device -->
        <form method="post" action="/picture-time/upload" enctype="multipart/form-data">
            <div class="file-input-container">
                <label class="file-input-label" for="file-input">Choose a File</label>
                <input type="file" id="file-input" name="file" accept="image/*">
                <span class="file-name" id="file-name">No file chosen</span>
            </div>
            <button type="submit">Upload from Device</button>
        </form>
    </div>
    <!-- Logout Button -->
    <div class="bottom-container">
        <form method="get" action="/picture-time/logout">
            <button type="submit">Logout</button>
        </form>
        <form method="get" action="/picture-time/">
            <button type="submit">Home</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
