<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pictureTime/video.css') }}">
</head>
<body>
    <div class="video-container">
        <video controls>
            <source src="/static/video/out.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <a href="/static/video/out.mp4" download>Download Video</a>
        <a href="/picture-time/">Home</a>
    </div>
</body>
</html>
