<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kieran's Portoflio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>

<header>
    <h1>Kieran's Portfolio</h1>
    <!--<p>A collection of my projects and hobbies</p>-->
    <a href="/resume">Resume</a>
    <a href="/coding">Coding Projects</a>
    <a href="/conlangs">Conlangs</a>
    <a href="/photography">Photography</a>
    <a href="/picture-time">Picture Time</a>
</header>

<div class="main">
    <div class="hero">
        <div class="column">
            <h2>School</h2>
            <p>I am an early college high school student at NUAMES in Utah. I am going into college at Weber State and plan to study either computer science or cyber security. My current plan is to graduate high school with a general associates degree, a minor in computer science, and a certificate of computer science.</p>
            <h2>Computer Science</h2>
            <P>My introduction to computer science was through robotics in 5th grade. Doing robotics showed me what was possible with programming and lead to me learning several programming languages.</P>
            <p>I started learning Python in 7th grade and have been coding in it for over 6 years now. I have recently started learning C++ and am currently working on several projects in that langauge as well.</p>
            <small><i>Most of my coding projects can be found in the coding projects page</i></small>
            <h2>Languages</h2>
            <p>Programming languages have also gotten me intersted in actual spoken langauges. While I don't currently speak any language other than English, I do want to learn more langauges. I have, however, tried creating my own languages.</p>
            <p>I have worked on making a few conlangs <i>(Constructed Languages)</i>. Two of which are called Valoric and Shadian. Shadian is the more developed one but both still need a lot of work.</p>
            <small><i>Most of my conlangs can be found in the conlangs page</i></small>
            <h2>Robotics</h2>
            <p>As mentioned, I started with robotics in 5th grade. I continued doing robotics until my junior year of high school <i>(7 years)</i>. In 5th and 6th grade I did basic robotics with Lego Mindstorms before moving into VEX. </p>
            <P>I did VEXIQ through junior high. My first year, we made it to the State Championship and came third place which qualified us for the World Championship. Unforunately we weren't able to go because of Covid. The next year was pretty similar but we did much better overall with our experience from the year before. Second year, we again qualified for Worlds but still couldn't go.</P>
            <p>Our third year was the best with us consistently winning tournament and getting two worlds qualifying awards at state. We did end up going to worlds this year and got the Think award because of a program I wrote.</p>
            <div class="spacer"></div>
            <h2>Travel</h2>
            <p>I have always liked traveling. Since I was young I have always wanted to go see different places. So far, I have been to the entire west side of the US, and a small section of the east coast <i>(New York area)</i>. At the time of writing this, we have a trip to Ireland planned for May/June of 2025. </p>
            <p>At some point in my life I want to take a year and drive through every state in the continental US. I would also like to travel to as many countries as I can. Currently, a lot of the places I would like to visit are in Europe or Asia. While English is the language spoken world-wide, I would still like to learn at least a little bit of the language that is spoken to each country I visit.</p>
        </div>
    </div>
</div>
</body>
</html>
