# Key to upload videos and download backup files
API_KEY=put-key-here

# Url to the picture time section of a website
URL=https://0.0.0.0:5000/picture-time/

# Directory for all saved/created files
FILE_DIR="path/to/dir"